<div class="centerQuestions">

<h1>New Question</h>

<%= render 'form' %>

<%= link_to 'Back', questions_path %>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

</div>
